package layout 

import "go-project-template/view/component"

templ Base() {
	<html>
		<head>
			<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
		</head>
		<body>
			@component.Header("Header Button")
			This is from the base layout...
			{ children... }
		</body>
	</html>
}
